body {
    font-family: sans-serif;
    text-align: center;
}

#wheel {
    border: 1px solid black;
    position: relative;
}

.wheel-container {
    position: relative;
    display: inline-block;
    margin-top: 50px; /* Added margin to move the whole container down */
}

#arrow {
    position: absolute;
    top: -30px; /* Adjust vertical position as needed */
    left: 50%;
    transform: translateX(-50%); /* Keep the horizontal centering */
    width: 20px; /* Width of the arrow */
    height: 20px; /* Height of the arrow (adjust as needed) */
    overflow: hidden; /* Hide any content that overflows the arrow's boundaries */
}



#winner {
    font-size: 40px;
    margin-top: 20px;
}
